
.vscode/settings.json
maszyna_wirtualna.xcodeproj/project.pbxproj
maszyna_wirtualna.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
maszyna_wirtualna.xcodeproj/project.xcworkspace/xcuserdata/kisiel.xcuserdatad/UserInterfaceState.xcuserstate
maszyna_wirtualna.xcodeproj/project.pbxproj
maszyna_wirtualna.xcodeproj/xcuserdata/kisiel.xcuserdatad/xcschemes/maszyna.xcscheme
maszyna_wirtualna.xcodeproj/project.pbxproj
maszyna_wirtualna.xcodeproj/xcuserdata/kisiel.xcuserdatad/xcschemes/maszyna.xcscheme
maszyna/maszyna_wirtualna
maszyna_wirtualna.xcodeproj/project.pbxproj
maszyna_wirtualna.xcodeproj/xcuserdata/kisiel.xcuserdatad/xcschemes/maszyna.xcscheme
maszyna/.vscode/settings.json
maszyna_wirtualna.xcodeproj/project.pbxproj
maszyna_wirtualna.xcodeproj/xcuserdata/kisiel.xcuserdatad/xcschemes/maszyna.xcscheme
maszyna_wirtualna.xcodeproj/project.pbxproj
maszyna_wirtualna.xcodeproj/xcuserdata/kisiel.xcuserdatad/xcschemes/maszyna.xcscheme
